@page "/servers" 
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />

<CityListComponent SelectedCityCallBack="HandleCitySelecttion"></CityListComponent>

<br />

<SearchBarComponent 
    SearchCallBack="HandleSearch">
</SearchBarComponent>

<br />

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@selectedCity"
    SearchFilter="@searchFilter"></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add</a>
</p>


@code {


    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private void HandleCitySelecttion(string cityName)
    {
        this.selectedCity = cityName;
    }

    private void HandleSearch(string filter)
    {
        searchFilter = filter;
    }
}
