@page "/servers" 
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />

<CityListComponent 
    @ref="cityListComponent"
    SelectedCityCallBack="HandleCitySelecttion">
</CityListComponent>

<br />

<SearchBarComponent 
    @ref="searchBarComponent"
    SearchCallBack="HandleSearch">
</SearchBarComponent>

<br />

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@selectedCity"
    SearchFilter="@searchFilter"></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add</a>
</p>


@code {


    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;

    private void HandleCitySelecttion(string cityName)
    {
        this.selectedCity = cityName;
        this.searchFilter = string.Empty;
        searchBarComponent?.ClearSearch();
    }

    private void HandleSearch(string filter)
    {
        searchFilter = filter;
        cityListComponent?.ClearSelection();
    }
}
