@page "/servers"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />

<CityListComponent SelectedCityCallBack="HandleCitySelecttion"></CityListComponent>

<br />




<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Servers" @bind-value="serverFilter" @bind-value:event ="oninput">
    <button class="btn btn-primary" type="button" id="button-search" @onclick="HandleSearch">Search</button>
</div>

<br />

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@selectedCity"></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add</a>
</p>


@code {


    private string selectedCity = "Toronto";

    private string _serverFilter = "";
    private string serverFilter 
    { 
        get => _serverFilter; 
        set 
        { 
            _serverFilter = value; 
            //this.servers = ServersRepository.SearchServers(_serverFilter);
        } 
    }

    private void HandleCitySelecttion(string cityName)
    {
        this.selectedCity = cityName;
    }

    private void HandleSearch()
    {
        //this.servers = ServersRepository.SearchServers(serverFilter);
       // this.selectedCity = string.Empty;
    }
}
